* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contentbody {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
}

#content #logo {
    position: relative;
    background: url("../images/logofuria.png") no-repeat;
    width: 301px;
    height: 255px;
    margin-bottom: 30px;
}

#content h1 {
    font-size: 3rem;
    color: #EF404A;
    text-align: center;
}


/* Portifolio */

#conteinerport {
    display: flex;
    width: 950px;
    margin: 0 auto;
    /* height: 100vh; */
    flex-direction: column;
    text-transform: uppercase;
}

.headerport{
    text-align: center;
    margin: 10% 0px;
    color: #ef3d4a;
}

.port {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.logoport {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logoportimg {
    width: 300px;
    height: 255px;
    background: url("../images/logofuria.png") no-repeat;
    background-size: 300px 255px;
}


.descript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.boxdescri {
    margin-bottom: 10px;
}

.fio {
    width: 2px;
    height: 600px;
    background-color: #ccc;
    border-radius: 50%;
}

@media (max-width: 600px)
{
  .fio
   {
    display: none;
   }

   .logoport {
    margin: 0 20px 50px 20px;
   }

   .descript {
    text-align: center;
   }

   #conteinerport {
    width: 90%;
   }
}