html,
body,
object,
img {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

a,
a:active,
a:hover {
  outline: none;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

a.click-through {
  cursor: pointer !important;
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: transparent;
}

#content {
  position: absolute;
  display: block;
  width: 300px;
  height: 250px;
}

#banner {
  background-color: #ffffff;
  overflow: hidden;
  visibility: hidden;
}

#content::after {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  border: 1px;
  border-style: solid;
  border-color: #999999;
  opacity: 0.5;
  box-sizing: border-box;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.format {
  position: absolute;
  display: block;
  width: 300px;
  height: 250px;
  opacity: 1;
  top: 0;
  left: 0;
}

#logo {
  background: url(./images/logo.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#logo2 {
  background: url(./images/logo2.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#pack {
  position: absolute;
  width: 336px;
  height: 221px;
  background: url(./images/pack.png) 0px 0px no-repeat;
}

#bg1 {
  background: url(./images/bg1.jpg) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#bg2 {
  background: url(./images/bg2.jpg) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#bg3 {
  background: url(./images/bg3.jpg) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#box {
  position: absolute;
  width: 0px;
  height: 250px;
  overflow: hidden;
}

#footer {
  position: absolute;
  display: block;
  bottom: 0px;
  width: 300px;
  height: 30px;
  background-color: #000000;
}

#ball {
  position: absolute;
  display: block;
  width: 97px;
  height: 97px;
  background: url(./images/ball.png) 0px 0px no-repeat;
  background-size: 97px 97px;
}

#shadow {
  position: absolute;
  display: block;
  width: 109px;
  height: 227px;
  top: 10px;
  left: -50px;
  background: url(./images/shadow.png) 0px 0px no-repeat;
}

#spoon {
  position: absolute;
  display: block;
  width: 144px;
  height: 248px;
  background: url(./images/spoon.png) 0px 0px no-repeat;
  background-size: 144px 248px;
}

#copy1 {
  background: url(./images/copy1.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#copy2 {
  background: url(./images/copy2.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#copy3 {
  background: url(./images/copy3.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#cta {
  background: url(./images/cta.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#seta {
  background: url(./images/seta.png) 0px 0px no-repeat;
  background-size: 300px 250px;
}

#smoke-wrap1, #smoke-wrap2 {
  position: absolute;
  width: 300px;
  height: 250px;
}

#smoke1, #smoke2 {
  width: 278px;
  height: 329px;
  background: url(./images/smoke.png) 0px 0px no-repeat;
  filter: blur(2px);
  transform-origin: 50% 50%;
}

.smoke1 {
  animation: smoke1 5s linear infinite;
  animation-delay: 0.5s;
}

.smoke2 {
  animation: smoke2 3s linear infinite;
  animation-delay: 2s;
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
  25% {
    filter: blur(1px);
    transform: translateY(-5px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(2px);
    transform: translateY(-10px) scale(-1, 1.1);
    opacity: 0.8;
  }
  75% {
    filter: blur(2px);
    transform: translateY(-15px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-20px) scale(-1, 1.2);
    opacity: 0;
  }
}
@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(1px);
    transform: translateY(-5px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(2px);
    transform: translateY(-10px) scale(1.1);
    opacity: 0.8;
  }
  75% {
    filter: blur(2px);
    transform: translateY(-15px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-20px) scale(1.2);
    opacity: 0;
  }
}
.fhc {
  transform: translate3d(0, 0, 0);
}/*# sourceMappingURL=style.css.map */